<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil | Forum La Tcheam</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>

    <header>
        <h1>Bienvenue sur le Forum de la Tcheam</h1>
        <nav>
            <ul>
                <li><a href="#">Catégories</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registe">Register</a></li>
            </ul>
        </nav>
        <div class="User-info">
            {{ if .Username }}
                <span>Bonjour, {{ .Username }}</span>
            {{ end }}
        </div>
    </header>

    <main>
        <section class="intro">
            <h2>Share your ideas and questions!</h2>
            <p>Our forum is a space to discuss, learn, help each other and share.</p>
            <a href="#" class="btn">MP</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 La Tcheam. All rights reserved.</p>
    </footer>

</body>

</html>